@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


.App {
  text-align: center;
}


.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 50px;
  color: mediumturquoise;
  font-family: 'Shadows Into Light', cursive;
}
.container-color {
  background-color: mediumturquoise;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.profile img {
  width: 320px;
  height: 300px;
  border-radius: 50%;
}

.Grid {
  font-family: 'Open Sans Condensed', sans-serif;
}

.Bold{
  color: mediumturquoise;
  font-family: 'Open Sans Condensed', sans-serif;
}